

    body {
      background-color: #f0ece3;
    }
    hr {
      border-style: none;
      border-top: dotted;
      border-color: grey;
      border-width: 5px;
      height: 0px;
      width: 5%;
    }
    h1 {
      color: #596e79
    }
    h3 {
      color: #596e79
    }
